header {
    top: 0;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #b48c0d, #eac066);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#company-header {
    display: flex;
    gap: 15px;
    align-items: center;
}

#company-data {
    display: flex;
    align-items: center;
    gap: 15px;
}

#company-logo {
    max-width: 60px;
    height: auto;
}

#company-name {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}

#company-motto {
    font-size: 1.1rem;
    font-weight: bold;
    color: #f8f9fa;
}

#header-nav .header-nav-menu {
    display: flex;
    list-style: none;
    gap: 15px;
    padding: 10px;
    margin: 0;
}

.header-nav-menu li a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 5px 10px;
    transition: color 0.3s ease-in-out, transform 0.2s;
}

.header-nav-menu li a:hover {
    color: #007bff;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #company-data {
        flex-direction: column;
        gap: 0px;
    }
    #company-name {
        margin: 5px;
    }
    #company-motto {
        margin: 5px;
    }
}